@charset "utf-8";
html{
  overflow-y: scroll;
  overflow-x: hidden;
}
/* header */
#header {
  width: 100%;
  height: 40px;
  position: relative;
  font-size: 1.4rem;
  background-color: rgb(65, 194, 225);
}
#header .link {
  width: 1300px;
  margin: auto;
  height: inherit;
  display: flex;
  text-align: center;
}
.link li {
  width: 8.5%;
  border: 1px solid white;
  background-color: rgb(65, 194, 225);
}
.link li ul li{
  width: 140%;
  text-align: left;
}
#header .link li a {
  width: 100%;
  font-size: 1.4rem;
  color: white;
  line-height: 40px;
  text-align: center;
  padding: 10px;
}
.link>li:nth-child(1) {
  background: rgb(0, 73, 140);
}
.link>li:nth-child(2) {
  background: white;
}
#header>.link>li:nth-child(2) a {
  color: rgb(0, 73, 140);
}
.link li ul li{
  display: none;
}
.link li:hover li{
  display: block;
}

/* nav */
#nav{
  width: 100%;
  height: 60px;
  display: flex;
}
.inner {
  height: 60px;
  width: 100%;
  background-color: #1657b4;
}
.logo{
  display: block;
  width: 190px;
}
.gnb{
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.gnb>li{
  display: inline-block;
  width: 110px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
.gnb li:first-child{
  margin-left: 15%;
}
.gnb>li>a{
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.gnb li ul li{
  display: none;
}
.gnb li ul li dd a{
  color: #333;
}
.side_menu{
  display: flex;
  width: 300px;
}
.side_menu li a{
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 60px;
}

/* main_slide */
#main_slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("images/main01.jpg");
}
#main_slide .slide_cover {
  position: relative;
}
#main_slide .slide_cover h2,
#main_slide .slide_cover h3,
#main_slide .slide_cover img,
#main_slide .slide_cover p {
  position: absolute;
}
#main_slide .slide_cover ul li a h2 {
  color: #fff;
  line-height: 1;
  font-size: 6rem;
  top: 15%;
  left: 10%;
  width: 480px;
  word-break: keep-all;
}
#main_slide .slide_cover ul li a p {
  bottom: 0%;
  right: 10%;
  color: #fff;
  font-size: 2.4em;
  width: 400px;
}
#main_slide .slide_cover img {
  height: 100%;
}
